.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 0;
    width: 700px;
    height: 500px;
    background-color: #2D2D2D;
    box-shadow: 0px 5px 30px 60px rgba(0, 0, 0, 0.8);
    margin-top: 10%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    flex-grow: 1;
}

.createTitle {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}

.firstname,
.lastname {
    width: 35%
}

.password {
    width: 35%;
}

.tosText{
    color: white;
}

.tosCheckBox {
    width: 20px;
    width: 20px;
    background-color: #454545;
}

.firstname,
.lastname,
.phonenumber,
.password,
.email {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: #454545;
    border-color: #454545;
    color: #d3d3d3;
    font-weight: bold;
}

.FirstAndLastName {
    width: 45%;
}

.PassMail {
    width: 65%;
}

.create-btn {
    order: 3;
}

.birthDay,
.birthMonth,
.birthYear {
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: #454545;
    border-color: #454545;
    color: #d3d3d3;
    font-weight: bold;
}

.location {
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 45%;
    background-color: #454545;
    border-color: #454545;
    color: #d3d3d3;
    font-weight: bold;
}

.BirthdateLocation {
    width: 65%;
}

.create-btn {
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #454545;
    border-color: #454545;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    width: 14%;
    height: 10%;
    background-color: #226990;
    border-color: #226990;
}
.create-btn:hover {
    background-color: #6297B1;
    border-color: #6297B1;
}

.Tos {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.Tos input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
    background-color: #454545;
}

.Tos:hover input ~ .checkmark {
    background-color: #ccc;
}

.Tos input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.Tos input:checked ~ .checkmark:after {
    display: block;
}

.Tos .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.alert {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    color: #EE5151;
}

.success {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    color: lawngreen;
}
